* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: rgba(82, 150, 182, 0.288);
    font-family: 'Quicksand', sans-serif; 
    line-height: 1.5;
    
}
.container {
    display: flex;
    
    height: 80vh;
    border-radius: 14px;
    max-width: 86%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    filter: drop-shadow(0px 0px 10px rgba(47, 111, 128, 0.4));
    border: 2px solid white;
    overflow: hidden;
}
.page {

    width: 88%;


    padding-top: 0px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    
}
.page::-webkit-scrollbar {
    display: none;
    }

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 12%;
    min-width: 100px;
    background-color: rgba(239, 249, 255, 0.85);
    padding: 40px;
    border-right: 6px dotted rgba(128, 128, 128, 0.07);
    color: rgb(84, 92, 109);
}
.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h2 { 
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
}
header p{
    color: rgb(84, 92, 109);
    font-size: 12px;
    font-weight: 500;
}


header img {
    margin-left: 20px;
    max-width: 130px;
    transform:  perspective(30px) rotateX(-2deg) rotateY(5deg);
    border-radius: 50%;
    box-shadow: -4px 4px 2px rgb(104, 140, 238);
    animation: photo-animation 2.5s infinite alternate;
    filter: drop-shadow(-8px 8px 4px rgba(0, 0, 0, 0.5));
}
.menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.menu li p {
    visibility: hidden;
    width: 1px;
    overflow: hidden;
    transition: .2s;
    white-space: nowrap;
    color: rgb(84, 92, 109);
    font-size: 13px;
    font-weight: 700;
    filter: drop-shadow(0px 3px 8px rgba(27, 85, 161, 0.4));
}
.home.active p, .portfolio.active p, .conteudo.active p, .sobre.active p{
    visibility: visible;
    width: 80px;
    transition: .6s;
}

.menu li a {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
}
.menu li i {
    
    box-shadow: 0px 0px 6px rgb(161, 184, 228);
    border-radius: 50%;
    padding: 6px;
    color: rgb(104, 140, 238);;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}
.menu li i:hover{
    box-shadow: 0px 0px 6px rgb(120, 151, 209);
    transform: translateX(3px);
    transition: .4s;

}
a{
    text-decoration: none;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;   
    height: 80px; 
}
.socials i {
    box-shadow: 0px 0px 6px rgb(161, 184, 228);
    border-radius: 50%;
    padding: 6px;
    color: rgb(104, 140, 238);
}

@keyframes photo-animation {
    0% {

        transform: translateY(0px) translateX(0px)  perspective(36px) rotateX(-2deg) rotateY(5deg);
    }

    100% {
        transform:  translateY(0px) translateX(10px) perspective(20px) rotateX(-2deg) rotateY(4deg);
        filter: drop-shadow(-8px 20px 8px rgba(0, 0, 0, 0.2));
    }
}

/*///////sections//*/
.home-page, .portfolio-page, .conteudo-page, .sobre-page {
    height: 100%;
    scroll-behavior: -100px smooth 100px;
    padding-top: 36px;
    padding: 30px;
}

#home-page {
    background-image: linear-gradient(35deg, rgba(239, 249, 255, 0.85), rgba(239, 249, 255, 0.85)), url(/src/images/bg-home.png);

    background-repeat: no-repeat;
    background-position: right;
}
#portfolio-page{
    background-image: linear-gradient(35deg, rgba(239, 249, 255, 0.85), rgba(239, 249, 255, 0.85)), url(/src/images/web-development\ \(1\).png);
    background-repeat: no-repeat;
    background-position: right;
}
#conteudo-page {
    background-image: linear-gradient(35deg, rgba(239, 249, 255, 0.85), rgba(239, 249, 255, 0.85)), url(/src/images/bg-conteudo.png);
    background-repeat: no-repeat;
    background-position: right;
}
#sobre-page {
    background-image: linear-gradient(35deg, rgba(239, 249, 255, 0.85), rgba(239, 249, 255, 0.85)), url(/src/images/bg-sobre.png);
    background-repeat: no-repeat;
    background-position: right;
}
#home-page {
    color: rgb(84, 92, 109);
}
#home-page h1{
    color: rgb(104, 140, 238);
    font-size: 44px;
}
.home-content {
    display: flex;
    margin-top: 20px;
}
.personal-info {
    max-width: 300px;
    border-left: 6px solid rgba(104, 140, 238, 0.6);;
    height: fit-content;
    background-image:linear-gradient(90deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    padding: 30px;
    font-weight: 500;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition-delay: 1s;
    transition: .6s;
}
.personal-info b {
    color: rgb(104, 140, 238);
}
.personal-info h3 {
    margin: 22px 0px;
}


.contact-form {
    width: 360px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-image: linear-gradient(135deg, rgb(104, 140, 238) , rgba(185, 227, 252, 0.2) 30%);
    filter: drop-shadow(0px 0px 10px rgba(47, 111, 128, 0.4));
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 22px;
    margin: 80px 80px;
    transform: translateX(80px) rotateZ(6deg);
    opacity: 0;
    transition: .3s;
}

.home-page.active .contact-form, .home-page.active .personal-info {
    visibility: visible;
    transform: translateX(00px);
    transition-delay: 1s;
    opacity: 1;
    transition: 1s;
}

.contact-form h3 {
    color: rgb(255, 255, 255);
    margin: 10px 0px;
}
.form-input, textarea {
    padding: 8px;
    border: none;
    margin: 6px 0;
    resize: none;
    border-radius: 4px;
    font-family: 'Quicksand', sans-serif; 
    font-weight: 600;
    outline: none;
    background-color: rgb(237, 246, 252);
    color: rgb(84, 92, 109);
    
}
textarea {
    font-weight: 500;
}
.contact-form button {
    background-color: rgb(104, 140, 238);
    border: none;
    outline: none;
    width: 40%;
    align-self: flex-end;
    margin-top: 10px;
    padding: 10px;
    color: white;
    font-weight: 700;
    border-radius: 8px;
    transition: .3s;
}
.contact-form button:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
    transition: .6s;
}

.portfolio-content {
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    min-width: 100%;
    color: rgb(84, 92, 109);
    font-weight: 500;

}
.slider {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    height: 70%;
    scroll-behavior: smooth;
    padding-bottom: 40px;
}
.slider::-webkit-scrollbar {
    display: none;
    }
.component-info {
    max-width: 320px;
    margin-left: 80px;
    
}
.portfolio-navigation {

    display: flex;
    gap: 2rem;
    justify-content: center;

    height: 10%;
    border-radius: 40px;
}
.portfolio-navigation img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);


}
.title h1 {
    color: rgb(104, 140, 238);
    font-size: 44px;

}

.portfolio-content img {
    width: 180px;
    border: 6px solid rgb(47, 70, 88);
    border-bottom: 10px solid rgb(47, 70, 88);
    border-top: 10px solid rgb(47, 70, 88);
    border-radius: 30px;
    filter: drop-shadow(-8px 8px 0px rgb(114, 158, 184));
    transform: perspective(50px) translateX(40px) rotateZ(-6deg) rotateY(2deg);
    box-shadow: -30px 40px 16px rgba(0, 0, 0, 0.2);
    animation: graphics-animation 3s infinite alternate;
    transition: .5s;

}


@keyframes graphics-animation {
    0% {

        transform: perspective(50px) translateX(40px) rotateZ(-6deg) rotateY(2deg);
    }

    100% {
        transform: perspective(42px) translateX(46px) rotateZ(-5deg) rotateY(2deg);
    }
}
